body {
    padding: 0;
    margin: 0;
    background-image: url(images/floral-wallpaper.jpg);
    background-size: cover;
    font-size: 100%;
}
html {
    scroll-behavior: smooth;
}
header {
    background-image: url(images/babyJ.jpg);
    background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
    height: 540px;
    position: relative;
}
h1 {
    font-family: "Kalam", cursive;
    text-decoration: underline rgba(255,2,0,.4);
    text-align: center;
    position: relative;
    margin-top: 7%;
    font-size: 2.5rem;
}
ul {
    padding: 0;
    height: 70px;
}
#links {
    text-align: center;
    padding-top: 10px;
}
    #links li {
        display: inline-block;
        padding: 1% 1%;
        height: 70px;
        width: 127px;
        vertical-align: top;
        opacity: 0.7;
        background-color: gainsboro;
        box-shadow: 0px 2px 22px 1px rgba(0,0,0,0.6);
    }
    #links li:hover {
        background-color: rgba(255,2,0,.4);
        opacity: 0.9;
        border: 1px solid black;
    }
    #links li span {
        display: none;
}
    #links img {
        margin: auto;
        height: 40px;
    }
    #links li:hover span {
        display: inline-block;
        font-family: 'Signika', sans-serif;
        text-decoration: none;
        color: white;
}

.text {
    padding: 3%;
    margin-top: 2%;
    background-color: white;
    box-shadow: 0px 2px 22px 1px rgba(0,0,0,0.6);
    transform: translateY(20px);
    transition: 0.5s ease-in-out; 
    opacity: 0;
}
.visible {
    opacity: 1;
    transform: translateY(0px);
}
h2 {
    font-family: 'Kalam', serif;
    margin-bottom: -10px;
    }
main {
    margin-left: 20%; 
    margin-right: 20%;
    font-size: 1rem;
    line-height: 30px;
    font-family: 'Noto Serif SC', serif;
    } 
.highlight {
    background-image: linear-gradient(180deg,transparent 35%,rgba(255,2,0,.4) 0);
}
#Start {
    margin-top: -10px;
}
#End {
    text-align: right;
}
#Future {
    margin-bottom: 2%;
}
footer {
    text-align: center;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    background-color: gainsboro;
    padding: 10px 10px;
}
footer p {
    margin-bottom: 0;
    padding-bottom: 10px;
    }   

@media (max-width: 600px) {
    main {
        margin-left: 4%; 
        margin-right: 4%;
    } 
    h1 {
        padding-top: 1%;
        font-size: 2rem;
    }
    header {
        height: 250px;
        width: 100%;
    }
    img {
        height: 25px;
    }
    footer p {
        margin-bottom: 0px;
    }
    #links {
        padding-top: 5px;
    }
    #links li {
        height: 40px;
        width: 40px;
    }
    #links li:hover span {
        display: none;
    }
    ul {
        margin-top: 0;
        height: 49px;
    }
/*    Credit to Caroline Gardner, the artist, for free floral wallpaper */